

/* Ejercicio 1: Centrar el texto en un span */

#ejercicioUno {
    display: block;
    text-align: justify;
  }
  
  /* Ejercicio 2: Posicionar el header */
  #ejercicioDos {
  display: none;
  }
  
  
  /* Ejercicio 3: */
  
  #containerImagen {
    position:relative ;
  }
  #ejercicioTres {
    position:absolute ;
    top: 100px;
    left: 200px; 
  }
  
  /* Ejercicio 4: */
  #ejercicioCuatro {
    
    position: fixed;
    top:0px;
    left:0px;
  }
  
  
  /* Ejercicio 5: */
  
  /* Ejercicio 6. */
  
  #ejercicioCinco {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
   
    
  }
